<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Élodie GIMENEZ – CV</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="div-central top-div-cv">
        <div class="content">
            <img class="profile-picture" src="img/profil.png" alt="Photo de profil"/>
            <h1>CV – Élodie GIMENEZ</h1>
            <p>Étudiante en première année de BTS SIO option SISR au Lycée Dick Ukeiwë. Passionnée par l'informatique en général, je développe mes compétences dans l'administration système et réseau ainsi que le développement web.</p>
        </div>
    </div>
    <div class="div-central">
        <div class="content">

            <h2>Formations</h2>
            <ul>
                <li>Brevet de technicien supérieur : Service Informatique aux Organisations – Lycée Dick Ukeiwë (2025 - 2026)</li>
                <li>Baccalauréat général – Lycée Dick Ukeiwë (2021-2024)</li>
                <li>Brevet des Collèges – Collège Edmée Varin (2019-2023)</li>
            </ul>

            <h2>Diplômes</h2>
            <ul>
                <li>Baccalauréat – 2024</li>
                <li>Brevet des collèges – 2020</li>
            </ul>

            <h2>Compétences</h2>
            <ul>
                <li>Déploiement et maintenance de serveurs Linux (Debian & Ubuntu Server)</li>
                <li>Virtualisation avec Proxmox</li>
                <li>Utilisation de Docker</li>
                <li>Langages de programmation : JavaScript (NodeJS), Python, SQL (MariaDB)</li>
                <li>Technologies web : HTML, CSS, EJS</li>
                <li>Outils de versioning : Git, GitHub</li>
                <li>Autre : Windows 10/11, MacOS, SSH, SFTP</li>
                <li>Bureautique (MS Office 365)</li>
            </ul>

            <h2>Expériences</h2>
            <ul>
                <li>Projet personnel : Déploiement d'un site web dynamique avec Docker</li>
                <li>Experience avec l'espace client d'OVHcloud et DigitalOcean</li>
                <li>Configuration de routeur TP-LINK</li>
            </ul>

            <h2>Qualités</h2>
            <p>Je suis autonome et curieuse, ce qui me permet d'apprendre rapidement de nouvelles technologies. J'apprécie le travail en équipe et je suis capable d'analyser des problèmes pour trouver des solutions efficaces.</p>
            <ul>
                <li>Esprit d’équipe</li>
                <li>Capacité d’analyse et de résolution de problèmes</li>
            </ul>
            
            <h2>Langues</h2>
            <ul>
                <li>Français : langue maternelle</li>
                <li>Anglais : niveau intermédiaire (B1+)</li>
                <li>Espagnol : niveau intermédiaire (A2+)</li>
            </ul>
            
            <h2>Contact</h2>
            <ul>
                <li><a href="https://elodie.gimenez.xyz">Site internet/Portfolio</a></li>
                <li><a href="https://www.linkedin.com/in/elodie-gimenez-1b0a1b1b8/">LinkedIn</a></li>
                <li><a href="mailto:elodie@gimenez.xyz">Email</a></li>
                <li><a href="https://github.com/hermitoff">Github</a></li>
            </ul>
        </div>
    </div>
</body>
</html>