<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Élodie GIMENEZ – CV</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="cv-layout">
        <div class="cv-left">
            <img class="profile-picture" src="img/profil.png" alt="Photo de profil"/>

            <h1>Élodie GIMENEZ</h1>
            <p>Étudiante en BTS SIO (Service Informatique aux Organisations) Option SISR – Lycée Dick Ukeiwë</p>
            <p>Passionnée par l'informatique, je développe mes compétences en administration système, réseau et développement web.</p>

            <h2>Formations</h2>
            <ul>
                <li>BTS SIO – Lycée Dick Ukeiwë (2025 - 2026)</li>
                <li>Baccalauréat Général – Lycée Dick Ukeiwë (2021 - 2024)</li>
                <li>Brevet – Collège Edmée Varin (2019 - 2023)</li>
            </ul>

            <h2>Diplômes</h2>
            <ul>
                <li>Baccalauréat – 2024</li>
                <li>Brevet des collèges – 2020</li>
            </ul>

            <h2>Expériences</h2>
            <ul>
                <li>Déploiement d'un site web dynamique avec Docker</li>
                <li>Gestion client OVHcloud et DigitalOcean</li>
                <li>Configuration de routeur TP-LINK</li>
            </ul>

            <h2>Qualités</h2>
            <p>Je suis autonome et curieuse, ce qui me permet d'apprendre rapidement de nouvelles technologies. J'apprécie le travail en équipe et je suis capable d'analyser des problèmes pour trouver des solutions efficaces.</p>
        </div>

        <div class="cv-right">            
            <h2>Contact</h2>
            <ul class="contact-list">
                <li><i class="fas fa-globe"></i> <a href="https://elodie.gimenez.xyz">Site internet</a></li>
                <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/">LinkedIn</a></li>
                <li><i class="fas fa-envelope"></i> <a href="mailto:elodie@gimenez.xyz">Email</a></li>
                <li><i class="fab fa-github"></i> <a href="https://github.com/hermitoff">Github</a></li>
            </ul>

            <h2>Compétences</h2>
            <ul>
                <li>Serveurs Linux (Debian, Ubuntu)</li>
                <li>Virtualisation (Proxmox)</li>
                <li>Docker</li>
                <li>JavaScript (NodeJS), Python, SQL</li>
                <li>HTML, CSS, EJS</li>
                <li>Git, GitHub</li>
                <li>Windows, MacOS, SSH, SFTP, WireGuard</li>
                <li>Office 365</li>
            </ul>

            <h2>Langues</h2>
            <ul>
                <li>Français : langue maternelle</li>
                <li>Anglais : B1+</li>
                <li>Espagnol : A2+</li>
            </ul>
        </div>

    </div>
</body>
</html>