<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= cvdata.name %> – CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <div class="cv-layout">
        <% cvdata.layout.forEach(function(column) { %>
          <div class="<%= column.className %>">
            <% column.sections.forEach(function(sectionName) { %>
              <%- renderSection(cvdata.sections[sectionName]) %>
            <% }) %>
          </div>
        <% }) %>
    </div>
    <script src="/index.js"></script>
</body>
</html>