<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Élodie GIMENEZ – Page d'accueil</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="Refresh" content="0; url=/cv" />
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <p>WIP</p>
    <a href="/cv">Voir CV</a>
</body>
</html>